node_modules/
.next/
out/
build/

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
