node_modules/
dist/
uploads/
/logs

# Environment
.env
.env.local

# Prisma generated
/src/generated/prisma

# Logs
*.log
err.txt
validate.log
prisma_migrate.log
/src/public
# IDE
.vscode/
.idea/
requirement.md
